/*
* File: style.css
* Author: Grünhut Gábor
* Copyright: 2023, Grünhut Gábor
* Group: Szoft I-1/E
* Date: 2023-03-27
* Github: https://github.com/GaborGrunhut/ships.git
* Licenc: GNU GPL
*/

h1 {
    text-align: center;
    color: antiquewhite;
    font: bold;
    background-color:coral;
}

thead {
    color: antiquewhite;
}

p {
    text-align: center;
    font-style: italic;
    background-color: lightgray;
}